@font-face {
    font-family: pageFont;
    src: url('../fonts/fuente.ttf');
}

html, body{
    font-family: pageFont, serif;
    background-image: url('../img/cubes.png');
    margin-left: 75px;
    margin-right: 75px;
}

/* HEADER */
.title{
    color: dodgerblue;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
}

.title a{
    text-decoration: dodgerblue;
    color: inherit;
}

.title a:hover{
    color: indianred;
}

.title-post{
    display: inline-block;
    cursor: pointer;
    text-decoration: dodgerblue;
}

.title-post a{
    text-decoration: dodgerblue;
    color: inherit;
    margin: 0;
}

.title-post a:hover{
    color: indianred;
}

.title-selected-post{
    color: dodgerblue;
    margin-bottom: 20px !important;
}

/* NAV */
.nav-main-menu{
    margin-top: 30px;
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
    border: 2px solid black;
    border-radius: 5px;
}

.ul-main-menu{
    padding: 10px 10px 10px 0;
    margin: 0;
}

.ul-main-menu li{
    display: inline-block;
    vertical-align: center;
}

.ul-main-menu li a{
    font-family: Arial, serif;
    font-size: 14px;
    padding: 10px;
    border-right: 2px solid black;
    text-decoration: none;
    color: black;
}

/* DIV COMÚN BOX SHADOWS */
.box-shadows{
    background: #F3F3F3;
    border-radius: 5px;
    -webkit-box-shadow: 10px 2px 74px 0 rgba(204,204,204,1);
    -moz-box-shadow: 10px 2px 74px 0 rgba(204,204,204,1);
    box-shadow: 10px 2px 74px 0 rgba(204,204,204,1);
}

.box-shadows *{
    margin-left: 20px;
    margin-right: 20px;
}

.box-shadows .switch, .slider, .round{
    margin-left: 0;
    margin-right: 0;
}

.box-shadows form{
    margin-left: 0;
}

/* MAIN */
main{
    margin-top: 20px;
    display: flex;
}

.main-left{
    margin-right: 20px;
    flex-grow: 1;
}

.main-left article{
    margin-left: 0;
}

.main-left h2{
    padding-top: 20px;
    margin-bottom: 30px;
}

.main-left article{
    padding: 0 10px 10px 0;
}

.main-left article h3{
    color: dodgerblue;
    margin-top: 0;
    margin-bottom: 0;
}

/* ASIDE LOG-IN SIGN-IN */
.form-log-sign-in h4{
    margin-top: 0;
    padding-top: 10px;
}

.form-log-sign-in input[type=submit]{
    background-color: dodgerblue;
    color: white;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-log-sign-in label{
    font-family: Arial, "serif";
    font-size: 14px;
}

.form-log-sign-in input[type=text],
.form-log-sign-in input[type=email],
.form-log-sign-in input[type=password]{
    height: 22px;
    margin-bottom: 10px;
}

.sign-in{
    margin-top: 20px;
}

#formLogOut input[type=submit]{
    color: white;
    height: 40px;
    width: 200px;
    margin-top: 0;
    margin-bottom: 10px;
}

#welcomeUser a{
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 300px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
}

#aLogOut{
    background-color: red;
}

#aCreateArticle{
    background-color: green;
}

#aCreateCategory{
    background-color: dodgerblue;
}

#aMyData{
    background-color: darkorange;
}

.buttonHolder{
    text-align: center;
}

#formAllArticles{
    margin-right: 0;
}

#btAllArticles{
    border: none; /* To view changes */
    background-color: dodgerblue;
    color: white;
    width: 180px;
    height: 60px;
    margin-bottom: 20px;
}

/* VIEW ARTICLE */
.mdArticle{
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
}

#aEditArticle{
    font-family: Arial, serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
    background-color: green;
}

#aDeleteArticle{
    font-family: Arial, serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
    background-color: dodgerblue;
}

/* CREATE CATEGORY */
.formGeneric{
    margin-top: 30px;
}

.formGeneric select{
    height: 40px;
    width: 150px;
    text-align-last: center;
}

.formGeneric input[type=text],
.formGeneric input[type=email]{
    width: 95%;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.formGeneric textarea{
    width: 95%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.formGeneric input[type=submit]{
    background-color: dodgerblue;
    color: white;
    height: 40px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 10px;
    float: right;
    margin-right: 40px;
}

/* FOOTER */
footer{
    margin-bottom: 0;
}

footer p{
    text-align: center;
    background: #F3F3F3;
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
}


/* GENERALES */
button, input[type=submit]{
    cursor: pointer;
}

.alert-ok{
    background-color: green;
    color: white;
}

.alert-ko{
    background-color: red;
    color: white;
}

.p-info{
    margin-top: 3px;
    font-family: Arial, "serif";
    font-size: 12px;
}

/* SWITCHES */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: calc(340px / 2 - 60px / 2);
    margin-bottom: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}